<div class="container" *ngIf="!user">
    <br>
    <br>
    <div class="text-center">
        <img src="https://1.bp.blogspot.com/-Vju3PlmCJzU/Vw5W7SE2j8I/AAAAAAAAAkU/8UbVxJH2Rek009-B7p2o_XjEAx_ZaqoEACLcB/s640/decoracion-sala-living-black-and-white-blanco-negro-estilo-moderno-dise%25C3%25B1o-tendencias-hogar-color-tips-hermoso-5.jpg" class="mainPicture">
        <br><br>
    </div>
</div>
<div class="container" *ngIf="!user">

    <div class="container">
        <h1 style="text-align: center;">
            Tus Unidades
        </h1>
    </div>
</div>
<div>
    <hr>
</div>
<br>
<div class="container">
    <p style="text-align:center">
        <strong>Tus Unidades</strong>
    </p>
</div>

<div class="col-md-4" *ngFor = "let unit of units">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            <div>
                <p style="text-align: left">

                    <strong> Razon Social: </strong>{{unit.razon_social_unidad}} <br>
                    Dirección: {{unit.direccion_unidad}} <br>
                </p>
            </div>         
        </div>
        <a routerLink="/details/{{unit.nit_unidad[0]}}">
            <img src="https://4.bp.blogspot.com/-nEC02MUcFjs/WR2kAr5j9XI/AAAAAAAAAA0/UdpR1qVrC1IDKqG_dyLMGv0otXd6BMFkwCLcB/s1600/ley%2Bde%2Bpropiedad%2Bhorizontal.png" class="card-img-top">
        </a>
        
        <div class="card-body">
            <div>
                <p style="text-align: left">
                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                      {{unit.nombre_ciudad}}  |  
                    <i class="fas fa-toilet"></i>   {{unit.telefono_unidad}}  |  
                </p>
            </div> 
        </div>
    </div>    
</div>

